<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs160.teachermatch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ProfilePage"
            android:label="@string/title_activity_profile_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CreateComProfile2"
            android:label="@string/title_activity_create_com_profile2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateComProfile1"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs160.teachermatch.SignUpActivity" />
        </activity>
        <activity
            android:name=".CreateRequest1Activity"
            android:label="New Request" /> <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <activity
            android:name=".Post_feedActivity"
            android:label="@string/title_activity_post_feed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ChooseUserActivity" />
        <activity android:name=".CreateProfile2Activity" />
        <activity android:name=".CreateProfile1Activity" />
        <activity android:name=".PostDetailsActivity" />
        <activity android:name=".TeacherProfileActivity" />
        <activity android:name=".PostFeedActivity" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".CreatePost1Activity" />
        <activity android:name=".PostSuccessActivity" />
        <activity android:name=".CreateRequest2Activity" />
        <activity android:name=".CreateDonation1Activity" />
        <activity android:name=".CreateDonation2Activity" />
        <activity android:name=".ChooseProfileType" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>